APP_NAME=Kwerio
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=https://kwerio.test

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=host.docker.internal
DB_PORT=3306
DB_DATABASE=kwerio
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=redis
CACHE_DRIVER=redis
QUEUE_CONNECTION=sync
SESSION_DRIVER=redis
SESSION_LIFETIME=120

REDIS_HOST=host.docker.internal
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

DOCKER_APP_IPV4=
DOCKER_NETWORK_SUBNET=
DOCKER_USER_ID=
DOCKER_GROUP_ID=
DOCKER_NETWORK_NAME="kwerio"
DOCKER_CONTAINER_NAME="kwerio"
