/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
tags
tags.lock
tags.temp
/public/js
/public/*.js
/public/*.js.map
/public/mix-manifest.json
/public/fonts
/public/hot
core
/public/i18n
/public/*.js.LICENSE.txt
/public/images
